<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation">
    <mat-nav-list>
      <a mat-list-item routerLink="/welcome">
        <mat-icon>home</mat-icon>
        <span class="nav-caption">Home</span>
      </a>
      <a mat-list-item routerLink="/welcome">
        <mat-icon>equalizer</mat-icon>
        <span class="nav-caption">Duality</span>
      </a>
      <a mat-list-item routerLink="/twitter">
        <mat-icon>public</mat-icon>
        <span class="nav-caption">Twitter</span>
      </a>
      <a mat-list-item routerLink="/welcome">
        <mat-icon>exit_to_app</mat-icon>
        <span class="nav-caption">Log out</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="#f6f5fa">
      <div fxHide.gt-sm>
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div class="logo"><img src="http://hiddenslate.com/img/hs_black.png"> </div>
      <div fxLayout fxLayoutAlign="flex-end" class="menu" fxHide.xs >
        <ul fxLayout fxLayoutGap="3rem" class="nav-items">
          <li><a routerLink="/welcome"> Home </a></li>
          <li><a routerLink="/welcome"> Duality </a></li>
          <li><a routerLink="/twitter"> Twitter </a></li>
          <div fxFlex fxLayout fxLayoutAlign="flex-end">
            <ul><a class="exit-btn" routerLink="/login">
              <mat-icon class="lgout">exit_to_app</mat-icon>
              Log out
            </a></ul>
          </div>
        </ul>
      </div>
    </mat-toolbar>

    <main>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!-- Position Column -->
        <ng-container matColumnDef="delete" class="column-del">
          <th mat-header-cell *matHeaderCellDef> Delete </th>
          <td mat-cell *matCellDef="let row">  <button mat-button (click)="openDialog()"><mat-icon>delete</mat-icon></button>    </td>
        </ng-container>

        <ng-container matColumnDef="link">
          <th mat-header-cell *matHeaderCellDef> Link </th>
          <td mat-cell *matCellDef="let row"> <a> <mat-icon>link </mat-icon> </a> </td>
        </ng-container>

        <!-- Name Column -->

        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef> Date </th>
          <td mat-cell *matCellDef="let row"> 08.18.62 </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="tweet">
          <th mat-header-cell *matHeaderCellDef> Tweet </th>
          <td mat-cell *matCellDef="let row"> "Çalışma ve Sosyal Güvenlik Bakanlığı ile Enerji ve Tabii Kaynaklar Bakanlığı işbirliğinde başlattığımız #KadınGücü projemiz için Opet'in yöneticileri sahada!"  </td>
        </ng-container>

        <!-- Symbol Column -->

        <ng-container matColumnDef="positive" >
          <th mat-header-cell *matHeaderCellDef> Positive </th>
          <td mat-cell id="posback" class="positive-side" *matCellDef="let row" (click)="positive_clickled()" onclick="ColorChanger()">
            Positive
          </td>
        </ng-container>

        <ng-container matColumnDef="neutral">
          <th mat-header-cell *matHeaderCellDef> Neutral</th>
          <td mat-cell class="neutral-side" *matCellDef="let row" (click)="NeutralClicked()">
            Neutral
          </td>
        </ng-container>

        <ng-container matColumnDef="negative">
          <th mat-header-cell *matHeaderCellDef> Negative </th>
          <td mat-cell class="negative-side" *matCellDef="let row" (click)="NegativeClicked()">
            Negative
          </td>
        </ng-container>

        <ng-container matColumnDef="bad">
          <th mat-header-cell *matHeaderCellDef> Bad </th>
          <td mat-cell class="bad-side" *matCellDef="let row" (click)="BadClicked()">
            Bad
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>


